[submodule "Client/3rdparty/android_openssl"]
	path = Client/3rdparty/android_openssl
	url = https://github.com/KDAB/android_openssl
[submodule "Client/QtGraphicalEffects"]
	path = Client/QtGraphicalEffects
	url = https://github.com/moodyhunter/QtGraphicalEffects
