[Unit]
Description=MoodyAPI Server
After=network.target

[Service]
Type=simple
User=moodyapi
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/bin/moodyapi-server
Restart=always

[Install]
WantedBy=multi-user.target
