[Unit]
Description=MoodyAPI - PiScreen

[Service]
Type=simple

# Must have i2c permissions
User=moodyapi
ExecStart=/opt/moodyapi/PiScreen
Restart=always

[Install]
WantedBy=multi-user.target
