[Unit]
Description=Moody's Camera API Service

[Service]
Type=simple
User=moodyapi
ExecStart=/mnt/disk/moodyapi/apiserver
Restart=on-abort

[Install]
WantedBy=multi-user.target
