[Unit]
Description=Moody's Camera Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=moodyapi
ExecStart=/opt/moodyapi/cam_agent
Restart=always

[Install]
WantedBy=multi-user.target
