[Unit]
Description=MoodyAPI - Notifier Client

[Service]
Type=simple
ExecStart=%h/.local/moodyapi/notify_client
Restart=on-abort

[Install]
WantedBy=default.target
